<div class="home">
    <h1>Home Page</h1>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate corporis repudiandae aspernatur deserunt ratione sapiente, possimus culpa beatae eum autem magni officia sint. Repudiandae suscipit nam quo expedita odio molestias consequatur ratione, iste aliquam similique hic, ea harum laborum rerum dolorem odit numquam corrupti? Natus debitis harum repellendus delectus veniam.</p>
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non, beatae velit fugit deleniti quidem quisquam! Officia aliquam molestiae dolor temporibus.</p>
    
 </div>